<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

    <!--retrieving style sheet from styles.css file-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">

  </head>
  <body>
    <div class="container">
      <h1 style="text-align:center; position:absolute; margin: 0; padding: 0; top: 50%; left:50%; transform: translatex(-50%)" >This Exchange is By Invitation Only</h1>
      <br>
      <form style="text-align:center; position:absolute; margin: 0; padding: 0; top: 60%; left:50%; transform: translatex(-50%)" action="" method="post">
        <input type="text" placeholder="Username" name="key" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="secret" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>