{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}

<!--retrieving data through lightweight-charts-->
<script src= "https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

<!--retrieving style sheet from styles.css file-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>

<body>
<!--setting main title of the page and assigning it an id for css styling-->
    <h1 id ="header">Welcome to our JTC exchange!</h1>
    <h2 id ="h2">Your current available balance is ${{ available_to_trade }} </h2>

    <div id ="my_balances">

<!-- TradingView Widget for Bitcoin BEGIN -->
<div class="column">
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for BTCUSD</span></a> by JTC Students Making it rain :)</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
        {
        "interval": "1m",
        "width": 425,
        "isTransparent": false,
        "height": 450,
        "symbol": "BITSTAMP:BTCUSD",
        "showIntervalTabs": true,
        "locale": "en",
        "colorTheme": "light"
    }
        </script>
    </div>
</div>
<!-- TradingView Widget for Bitcoin END -->

<div class="row">
    <div class="column">
     <!-- TradingView Widget for ETHUSDT BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/ETHUSDT/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for ETHUSDT</span></a> by JTC Students Making it rain ;)</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 450,
            "symbol": "BINANCE:ETHUSDT",
            "showIntervalTabs": true,
            "locale": "en",
            "colorTheme": "light"
        }
            </script>
        </div>
    </div>
<!-- TradingView Widget for ETHUSDT END -->

<!-- TradingView Widget for Litecoin BEGIN -->
<div class="row">
    <div class="column">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/LTCUSDT/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for LTCUSDT</span></a> by JTC Students Making it rain :)</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 450,
            "symbol": "BINANCE:LTCUSDT",
            "showIntervalTabs": true,
            "locale": "en",
            "colorTheme": "light"
        }
            </script>
        </div>
    </div>
</div>
<!-- TradingView Widget for Litecoin END -->
</div>


    <div id = "chart"></div>
    <div id = "trades"> </div>
    <div id = "trader_type"></div>
    <div id = "technical_indicator"></div>
    <script src="{{ url_for('static', filename='chart.js') }}"> </script>

</div>        

    <script>
   // var BinanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/ethusdt@trade");
    console.log(BinanceSocket)

    var tradeDiv = document.getElementById('trades')
/*
    BinanceSocket.onmessage = function (event) {
        console.log(event.data);

        var messageObject = JSON.parse(event.data)
        
        tradeDiv.append(messageObject.p)

      }
*/          

 // Change the type of input to password or text
     function Toggle() {
         var temp = document.getElementById("typepass");
         if (temp.type === "password") {
             temp.type = "text";
         }
         else {
             temp.type = "password";
         }
     }
    </script>

    <div id = "selection">
        <h2 id="h2">Are you feeling lucky today?</h2>

        <form>
            Please select your style of trading:
            <select id = "style" onchange="trading_style()">
                <option>Day Trading</option>
                <option>Swing Trading</option>
                <option>Risking it for the Biscuit</option>
                <option>Let it rain lambos!</option>
            </select> 
            
            <p>Your style of trading is: <input type ="text" id= "favorite" size= "20"></p>     

        </form>  

    </div>


    <!-- Creating a form for selecting crypto currencies to purchase -->

    <div id = "selection">
        <h2 id="h2">Cryptos</h2>

        <form action="/buy" method="post">

            Please select the Crypto you want to purchase:
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                     {% endfor %}
                {% endif %}
                {% endwith %}

            <select id = "symbol" name="symbol">

                {% for symbol in symbols %}
                     <option>{{symbol['symbol']}}</option>
                {% endfor %}   
            </select> 
            
             <!-- Creating a form to execute a purchase trade -->

            <input type="text" id="quantity" name= "quantity" placeholder= "eg. 0.001" />
            <input type="submit" name="buy" value="buy" />

            <!-- Creating a form to execute a purchase trade -->     

        </form>  

    </div>

    <!-- End of creating a form for selecting crypto currencies to purchase -->

    <!-- Creating a form for selecting crypto currencies to sell -->

    <div id = "selection"></div>

        <form action="/sell" method="post">

            Please select the Crypto you want to Sell:
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                     {% endfor %}
                {% endif %}
                {% endwith %}

            <select id = "symbol" name="symbol">

                {% for symbol in symbols %}
                     <option>{{symbol['symbol']}}</option>
                {% endfor %}  

            </select> 
            
             <!-- Creating a form to execute a purchase trade -->

            <input type="text" id="quantity" name= "quantity" placeholder= "eg. 0.001" />
            <input type="submit" name="sell" value="sell" />

            <!-- Creating a form to execute a purchase trade -->     

        </form>  

    </div>

    <!-- End of creating a form for selecting crypto currencies to purchase -->

    <!-- Form to allow user to set parameters for technial indicator Relative Strength Index, which gives information to the bot to execute a trade based on the parameters -->
    
    <!-- <h2 id= "h2">User Settings</h2>

    <div id = "settings"></div>

    <div id = "selection">
        <input type ="checkbox"/> RSI 
        <input type = "text" id="rsi_length" name= "rsi_length" placeholder ="14"/>
        Over Bought
        <input type = "text" id="rsi_overbought" name= "rsi_overbought" placeholder ="70"/>
        Over Sold
        <input type = "text" id="rsi_oversold" name= "rsi_oversold" placeholder ="30"/>
    </div> -->

 <!-- accessing only revelant information from my binance balance and place it into a table-->
 <div class="lcolumn">
    <table>
        {% for balance in my_balances %}
        <tr>
            <td> 
                {{ balance['asset'] }}
            </td>
            <td>
                {{balance['free']}}
            </td>
        
        </tr>
        {% endfor %}
    </table>
</div>

<table>
{% for price in prices %}
<tr>
    <td>
        {{ price['price']}}
    </td>
</tr>
{% endfor %}
</table>

<div>        

<!-- End of accessing only revelant information from my binance balance and place it into a table-->

    {% endblock %}