{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}

<!--retrieving data through lightweight-charts, which handles the technical indicators that are displayed on the website that allows a user to adjust the time dial which analyzes data from 1 minute to one month, and tells an investor when to buy and sell a particular crypto-->
<script src= "https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

<!--retrieving style sheet from styles.css file-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">

</head>

<body>

<!--setting main title of the page and assigning it an id for css styling-->

<h1 style = "color:	#0000CD; text-align: center; padding-top: 50px">Welcome to our JTC exchange!</h1>
  
<!-- image under headers -->

<div style="display: block; margin-left: auto; margin-right:auto; width: 80%; margin-top:50px; margin-bottom: 50px">
<img src="https://images.unsplash.com/photo-1615818733733-8b2f0e3c403a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" class="img-fluid" alt="Image of success">
</div>

<div style= "text-align: center;">
    <h2 >
        <b><em> How to use the charts </em></b>
        <h4 style="text-align: center; color:	#0000CD;"><em>Live data are processed from Binance.us</em></h4>

    </h2>
    
    </div>
    <br>
    <ul style= "margin-left: 150px;">  
       
       <li> <b>Select:</b> Time interval you want to recieve data analysis: 1 min, 5 min, 15 min, 1 hour, 4 hours, 1 day, 1 week or 1 month  </li>
       <li>
       Once time interval is selected, data for that time period is processed through 26 different financial technical indicators to determine whether a particular crypto currency should be bought, sold or held.
       </li>
       <li>
       The individual indicators are grouped into the three categories: sell, neutral or hold which will allow the investor to make an informed decision of what the majority of the indicators are saying.    
       </li>
    
    </ul>

<br>
<br>

<div style="content: ''; display: table; margin-left: auto; margin-right: auto; padding-bottom: 20px">

    <div style= "float: left; width: 25%;">

        <!-- TradingView Widget BEGIN -->

    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Index Analysis</span></a> by JTC students</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
        {
        "colorTheme": "light",
        "dateRange": "12M",
        "showChart": true,
        "locale": "en",
        "largeChartUrl": "",
        "isTransparent": false,
        "showSymbolLogo": true,
        "width": "400",
        "height": "450",
        "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
        "plotLineColorFalling": "rgba(33, 150, 243, 1)",
        "gridLineColor": "rgba(240, 243, 250, 1)",
        "scaleFontColor": "rgba(120, 123, 134, 1)",
        "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
        "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
        "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
        "tabs": [
        {
            "title": "Indices",
            "symbols": [
            {
                "s": "FOREXCOM:SPXUSD",
                "d": "S&P 500"
            },
            {
                "s": "FOREXCOM:NSXUSD",
                "d": "Nasdaq 100"
            },
            {
                "s": "FOREXCOM:DJI",
                "d": "Dow 30"
            },
            {
                "s": "INDEX:NKY",
                "d": "Nikkei 225"
            },
            {
                "s": "INDEX:DEU30",
                "d": "DAX Index"
            },
            {
                "s": "FOREXCOM:UKXGBP",
                "d": "UK 100"
            }
            ],
            "originalTitle": "Indices"
        },
        {
            "title": "Commodities",
            "symbols": [
            {
                "s": "CME_MINI:ES1!",
                "d": "S&P 500"
            },
            {
                "s": "CME:6E1!",
                "d": "Euro"
            },
            {
                "s": "COMEX:GC1!",
                "d": "Gold"
            },
            {
                "s": "NYMEX:CL1!",
                "d": "Crude Oil"
            },
            {
                "s": "NYMEX:NG1!",
                "d": "Natural Gas"
            },
            {
                "s": "CBOT:ZC1!",
                "d": "Corn"
            }
            ],
            "originalTitle": "Commodities"
        },
        {
            "title": "Bonds",
            "symbols": [
            {
                "s": "CME:GE1!",
                "d": "Eurodollar"
            },
            {
                "s": "CBOT:ZB1!",
                "d": "T-Bond"
            },
            {
                "s": "CBOT:UB1!",
                "d": "Ultra T-Bond"
            },
            {
                "s": "EUREX:FGBL1!",
                "d": "Euro Bund"
            },
            {
                "s": "EUREX:FBTP1!",
                "d": "Euro BTP"
            },
            {
                "s": "EUREX:FGBM1!",
                "d": "Euro BOBL"
            }
            ],
            "originalTitle": "Bonds"
        },
        {
            "title": "Forex",
            "symbols": [
            {
                "s": "FX:EURUSD"
            },
            {
                "s": "FX:GBPUSD"
            },
            {
                "s": "FX:USDJPY"
            },
            {
                "s": "FX:USDCHF"
            },
            {
                "s": "FX:AUDUSD"
            },
            {
                "s": "FX:USDCAD"
            }
            ],
            "originalTitle": "Forex"
        },
        {
            "title": "Crypto",
            "symbols": [
            {
                "s": "BINANCE:BTCUSDT"
            },
            {
                "s": "BINANCE:ETHUSDT"
            },
            {
                "s": "BINANCE:XRPUSDT"
            },
            {
                "s": "UNISWAP:WETHSMI"
            },
            {
                "s": "BINANCE:DOGEUSDT"
            },
            {
                "s": "KRAKEN:BCHUSDT"
            },
            {
                "s": "KRAKEN:LTCUSDT"
            },
            {
                "s": "KRAKEN:ADAUSDT"
            },
            {
                "s": "BITBAY:XLMUSDT"
            },
            {
                "s": "KUCOIN:BATUSDT"
            },
            {
                "s": "COINBASE:ETCUSD"
            },
            {
                "s": "HUOBI:ZRXUSDT"
            },
            {
                "s": "BITKUB:BNBTHB"
            },
            {
                "s": "BITBAY:LINKUSDT"
            },
            {
                "s": "KRAKEN:REPXBT"
            },
            {
                "s": "BINANCE:RVNUSDT"
            },
            {
                "s": "BINANCE:DASHUSDT"
            },
            {
                "s": "KUCOIN:ZECUSDT"
            },
            {
                "s": "HUOBI:ALGOUSDT"
            },
            {
                "s": "BINANCE:IOTAUSDT"
            },
            {
                "s": "BINANCE:BUSDUSDT"
            },
            {
                "s": "BINANCE:WAVESUSDT"
            },
            {
                "s": "BINGBON:ATOMUSDT"
            },
            {
                "s": "BINANCE:NEOUSDT"
            },
            {
                "s": "BITFINEX:VETUSD"
            },
            {
                "s": "BINANCE:QTUMUSDT"
            },
            {
                "s": "BINANCE:NANOUSDT"
            },
            {
                "s": "BINANCE:EOSUSDT"
            },
            {
                "s": "KRAKEN:ICXUSD"
            },
            {
                "s": "BINANCE:ENJUSDT"
            },
            {
                "s": "BINANCE:ONTUSDT"
            },
            {
                "s": "BINANCE:ZILUSDT"
            },
            {
                "s": "KRAKEN:USDCUSDT"
            },
            {
                "s": "BITBAY:XTZUSDT"
            },
            {
                "s": "BINANCE:HBARUSDT_PREMIUM"
            },
            {
                "s": "BITTREX:OMGUSDT"
            },
            {
                "s": "BINANCE:MATICUSDT"
            },
            {
                "s": "BINANCE:ONEUSDT"
            },
            {
                "s": "BINANCE:VTHOUSDT"
            },
            {
                "s": "KRAKEN:KNCUSD"
            },
            {
                "s": "BINANCE:COMPUSDT"
            },
            {
                "s": "KRAKEN:MANAUSD"
            },
            {
                "s": "BINANCE:HNTUSDT"
            },
            {
                "s": "BINANCE:MKRUSDT"
            },
            {
                "s": "OKEX:DAIUSDT"
            },
            {
                "s": "BINANCE:BANDUSDT"
            },
            {
                "s": "BINANCE:STORJUSDT"
            },
            {
                "s": "BINANCE:SOLUSDT"
            },
            {
                "s": "BINANCE:UNIUSDT"
            },
            {
                "s": "BINANCE:EGLDUSDT"
            },
            {
                "s": "KRAKEN:PAXGUSD"
            },
            {
                "s": "BINANCE:OXTUSDT"
            },
            {
                "s": "BINANCE:ZENUSDT"
            }
            ]
        }
        ]
    }
        </script>
    </div>
    <!-- TradingView Widget END -->
    </div>

    <div style= "float: left; width: 25%;">
    <!-- TradingView Widget for Bitcoin BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for BTCUSD</span></a> by JTC Students Making it rain :)</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 450,
            "symbol": "BITSTAMP:BTCUSD",
            "showIntervalTabs": true,
            "locale": "en",
            "colorTheme": "light"
        }
            </script>
        </div>
    <!-- TradingView Widget for Bitcoin END -->
    </div>

    <div style= "float: left; width: 25%;">
        <!-- TradingView Widget for ETHUSDT BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/ETHUSDT/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for ETHUSDT</span></a> by JTC Students Making it rain ;)</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 450,
            "symbol": "BINANCE:ETHUSDT",
            "showIntervalTabs": true,
            "locale": "en",
            "colorTheme": "light"
        }
            </script>
        </div>
        <!-- TradingView Widget for ETHUSDT END -->
    </div>

    <div style= "float: left; width: 25%;">
        <!-- TradingView Widget for Litecoin BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/LTCUSDT/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for LTCUSDT</span></a> by JTC Students Making it rain :)</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 450,
            "symbol": "BINANCE:LTCUSDT",
            "showIntervalTabs": true,
            "locale": "en",
            "colorTheme": "light"
        }
            </script>
        </div>

        <!-- TradingView Widget for Litecoin END -->

    </div>

</div>

<br>
<br>
<!-- Charts for later development that retrieves candle stick charts, this will be later used by python-binance websocket to retrieve data from binance API that can be processed through charts -->

<!-- </div>

    <div id = "chart"></div>
    <div id = "trades"> </div>
    <div id = "trader_type"></div>
    <div id = "technical_indicator"></div>
    <script src="{{ url_for('static', filename='chart.js') }}"> </script>

</div>         -->

    <script>

   // var BinanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/ethusdt@trade");
   // console.log(BinanceSocket)

   // var tradeDiv = document.getElementById('trades')
/*
    BinanceSocket.onmessage = function (event) {
        console.log(event.data);

        var messageObject = JSON.parse(event.data)
        
        tradeDiv.append(messageObject.p)
      }
*/          

 // Change the type of input to password or text
 //    function Toggle() {
 //        var temp = document.getElementById("typepass");
 //        if (temp.type === "password") {
 //            temp.type = "text";
 //        }
 //        else {
 //            temp.type = "password";
 //        }
 //    }
     </script>  

     <!-- The form below will be later added to the updated version that will be included in the automation, giving the user the ability to select the trading style they want for their bot -->

     <!-- <div id = "selection">
        <h2 id="h2">Are you feeling lucky today?</h2>

        <form>
            Please select your style of trading:
            <select id = "style" onchange="trading_style()">
                <option>Day Trading</option>
                <option>Swing Trading</option>
                <option>Risking it for the Biscuit</option>
                <option>Let it rain lambos!</option>
            </select> 
            
            <p>Your style of trading is: <input type ="text" id= "favorite" size= "20"></p>     

        </form>  

    </div> -->

    <!-- Creating a form for selecting crypto currencies to purchase -->
<div>
    <div style="content: ''; display: table; margin-left: auto; margin-right: auto; padding-bottom: 25px; padding-top: 25px; border-style: double; width: 800px;  ">

        <div id = "selection">
            <h2 id="h2">Buy and Sell your Crypto's Here</h2>

            <br>

            <div>
                <p style = "color: #361ad4; font-size: 20px; text-align: center;"><b>Your current available balance is ${{ available_to_trade }}</b></p>
            </div>

            <form action="/buy" method="post">

                Please select the Crypto you want to purchase:
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                    {% endif %}
                    {% endwith %}

                <select id = "symbol" name="symbol">

                    {% for symbol in symbols %}
                            <option>{{symbol['symbol']}}</option>
                    {% endfor %}   
                </select> 
                
                    <!-- Creating a form to execute a purchase trade -->

                <input type="text" id="quantity" name= "quantity" placeholder= "eg. 0.001" />
                <input type="submit" name="buy" value="buy" />

                <!-- Creating a form to execute a purchase trade -->     

            </form>  

        </div>

            <!-- End of creating a form for selecting crypto currencies to purchase -->

        <!-- Creating a form for selecting crypto currencies to sell -->

        <div id = "selection">

            <form action="/sell" method="post">

                Please select the Crypto you want to Sell:

        <!-- displays error message on the user interface, when an execution fails for one reason or another -->

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                    {% endif %}
                    {% endwith %}

                <select id = "symbol" name="symbol">

                    {% for symbol in symbols %}
                            <option>{{symbol['symbol']}}</option>
                    {% endfor %}  

                </select> 

                    <!-- Creating a form to execute a sell -->

                <input type="text" id="quantity" name= "quantity" placeholder= "eg. 0.001" />
                <input type="submit" name="sell" value="sell" />

            </form>  

        </div>

            <!-- End of creating a form for selecting crypto currencies to purchase -->

    </div>

</div>
<br>

<p style="color: rgb(7, 131, 44); text-align:center"> <b><em>*Please note that there is minimum purchase of $20 to execute a trade*</em></b> </p>

<script>

    function myCryptoCost()
    {
        var a=document.getElementById('number').value;
        var b=document.getElementById('numbers').value;
        document.getElementById('result').innerHTML=(a*b);
    }

</script>

<div style="text-align: center;">
    <form name="Crypto Calculator">
        
        Price of Crypto: <input type ="number" value= " " id ="number">
        Quantity: <input type ="number" value= " " id="numbers">
        <br>
        <br>
        <input type = "submit" value= "multiply" onclick ="return myCryptoCost()">
        <b>The cost of the crypto is: $</b>
        <span id ="result"></span>

    </form>
</div>

<br>
    <!-- Form to allow user to set parameters for technial indicator Relative Strength Index, which gives information to the bot to execute a trade based on the parameters -->
    
    <!-- <h2 id= "h2">User Settings</h2>

    <div id = "settings"></div>

    <div id = "selection">
        <input type ="checkbox"/> RSI 
        <input type = "text" id="rsi_length" name= "rsi_length" placeholder ="14"/>
        Over Bought
        <input type = "text" id="rsi_overbought" name= "rsi_overbought" placeholder ="70"/>
        Over Sold
        <input type = "text" id="rsi_oversold" name= "rsi_oversold" placeholder ="30"/>
    </div> -->


<div class="row" style="content: ';'; display: table; clear: both; padding-left: 100px;" >

  <div class="column" style="float: left; width: 33.33%;" >

    <div class="lcolumn">
        <table>
            <p style= "padding-left: 0px; color:#d41a1a; font-weight:bold">Symbols </p>
            <br>
            {% for balance in my_balances %}
            <tr>
                <td> 
                    {{ balance['asset'] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

  </div>

  <div class="column" style="float: left; width: 33.33%;">

    <div class="lcolumn">
        <table>
            <p style= "padding-left: 10px; color:#d41a1a; font-weight:bold"> Current Holdings </p>
            {% for balance in my_balances %}
            <tr>
                <td>
                    {{balance['free']}}
                </td>
            </tr>
            {% endfor %}
            
        </table>
    </div>

  </div>

  <div class="column" style="float: left; width: 33.33%;">

    <div class="lcolumn">
        <table>
            <p style= "padding-left: 10px; color:#d41a1a; font-weight:bold">Current Prices </p>
            {% for price in prices %}
            <tr>
                <td>
                    {{ price['price']}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
  </div>

 <!-- accessing only revelant information from my binance balance and place it into a table-->
 <!-- <div class="lcolumn">
    <table>
        <p style= "padding-left: 10px;">Symbols | Current Holdings</p>
        {% for balance in my_balances %}
        <tr>
            <td style = "padding: 20px;"> 
                {{ balance['asset'] }}
            </td>
            <td>
                {{balance['free']}}
            </td>
        
        </tr>
        {% endfor %}
        
    </table>
</div> -->


<!-- End of accessing only revelant information from my binance balance and place it into a table-->

    {% endblock %}